:root {
    --primary: #e9afd2;
    --primary-tint-1: #ebb7d6;
    --primary-tint-2: #edbfdb;
    --primary-tint-3: #efc7df;
    --primary-tint-4: #f1cfe4;
    --primary-tint-5: #f4d7e8;
    --primary-tint-6: #f6dfed;
    --primary-tint-7: #f8e7f1;
    --primary-tint-8: #faeff6;
    --primary-tint-9: #fcf7fa;
    --primary-shade-1: #d19dbd;
    --primary-shade-2: #ba8ca8;
    --primary-shade-3: #a37a93;
    --primary-shade-4: #8b697e;
    --primary-shade-5: #745769;
    --primary-shade-6: #5d4654;
    --primary-shade-7: #45343f;
    --primary-shade-8: #2e232a;
    --primary-shade-9: #171115;
    --primary-tone-1: #ddaac9;
    --primary-tone-2: #d1a4c0;
    --primary-tone-3: #c69fb6;
    --primary-tone-4: #ba9aad;
    --primary-tone-5: #ae94a4;
    --primary-tone-6: #a28f9b;
    --primary-tone-7: #978a91;
    --primary-tone-8: #8b8488;
    --primary-tone-9: #7f7f7f;

    --pink: #d973b0;
    --pink-tint-1: #e08fbf;
    --pink-tint-2: #e8abcf;
    --pink-tint-3: #efc7df;
    --pink-tint-4: #f7e3ef;
    --pink-shade-1: #ad5c8c;
    --pink-shade-2: #824569;
    --pink-shade-3: #562e46;
    --pink-shade-4: #2b1723;
    --bright-pink: #e9afd2;
    --deep-pink: #c9378e;

    --red: #d9737e;
    --red-tint-1: #e08f97;
    --red-tint-2: #e8abb1;
    --red-tint-3: #efc7cb;
    --red-tint-4: #f7e3e5;
    --red-shade-1: #ad5c64;
    --red-shade-2: #82454b;
    --red-shade-3: #562e32;
    --red-shade-4: #2b1719;
    --bright-red: #e9afb5;
    --deep-red: #c93747;

    --orange: #d99b73;
    --orange-tint-1: #e0af8f;
    --orange-tint-2: #e8c3ab;
    --orange-tint-3: #efd7c7;
    --orange-tint-4: #fbf5f1;
    --orange-shade-1: #ad7c5c;
    --orange-shade-2: #825d45;
    --orange-shade-3: #563e2e;
    --orange-shade-4: #2b1f17;
    --bright-orange: #e9c6af;
    --deep-orange: #c97037;

    --yellow: #d9ce73;
    --yellow-tint-1: #e0d78f;
    --yellow-tint-2: #e8e1ab;
    --yellow-tint-3: #efebc7;
    --yellow-tint-4: #f7f5e3;
    --yellow-shade-1: #ada45c;
    --yellow-shade-2: #827b45;
    --yellow-shade-3: #56522e;
    --yellow-shade-4: #2b2917;
    --bright-yellow: #e9e3af;
    --deep-yellow: #c9b937;

    --spring: #b0d973;
    --spring-tint-1: #bfe08f;
    --spring-tint-2: #cfe8ab;
    --spring-tint-3: #dfefc7;
    --spring-tint-4: #eff7e3;
    --spring-shade-1: #8cad5c;
    --spring-shade-2: #698245;
    --spring-shade-3: #46562e;
    --spring-shade-4: #232b17;
    --bright-spring: #d2e9af;
    --deep-spring: #8ec937;

    --green: #7ed973;
    --green-tint-1: #97e08f;
    --green-tint-2: #b1e8ab;
    --green-tint-3: #cbefc7;
    --green-tint-4: #e5f7e3;
    --green-shade-1: #64ad5c;
    --green-shade-2: #4b8245;
    --green-shade-3: #32562e;
    --green-shade-4: #192b17;
    --bright-green: #b5e9af;
    --deep-green: #47c937;

    --blue: #73b0d9;
    --blue-tint-1: #8fbfe0;
    --blue-tint-2: #abcfe8;
    --blue-tint-3: #c7dfef;
    --blue-tint-4: #e3eff7;
    --blue-shade-1: #5c8cad;
    --blue-shade-2: #456982;
    --blue-shade-3: #2e4656;
    --blue-shade-4: #17232b;
    --bright-blue: #afd2e9;
    --deep-blue: #378ec9;

    --indigo: #737ed9;
    --indigo-tint-1: #8f97e0;
    --indigo-tint-2: #abb1e8;
    --indigo-tint-3: #c7cbef;
    --indigo-tint-4: #e3e5f7;
    --indigo-shade-1: #5c64ad;
    --indigo-shade-2: #454b82;
    --indigo-shade-3: #2e3256;
    --indigo-shade-4: #17192b;
    --bright-indigo: #afb5e9;
    --deep-indigo: #3747c9;

    --violet: #9c73d9;
    --violet-tint-1: #af8fe0;
    --violet-tint-2: #c3abe8;
    --violet-tint-3: #d7c7ef;
    --violet-tint-4: #ebe3f7;
    --violet-shade-1: #7c5cad;
    --violet-shade-2: #5d4582;
    --violet-shade-3: #3e2e56;
    --violet-shade-4: #1f172b;
    --bright-violet: #c7afe9;
    --deep-violet: #7137c9;

    --magenta: #cf73d9;
    --magenta-tint-1: #d88fe0;
    --magenta-tint-2: #e2abe8;
    --magenta-tint-3: #ebc7ef;
    --magenta-tint-4: #f5e3f7;
    --magenta-shade-1: #a55cad;
    --magenta-shade-2: #7c4582;
    --magenta-shade-3: #522e56;
    --magenta-shade-4: #29172b;
    --bright-magenta: #e4afe9;
    --deep-magenta: #ba37c9;
}
